@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Droid+Serif:400,700,400italic,700italic);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, hr, fieldset, form, input, select, textarea, label, legend, caption, tfoot, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0 auto;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

input, a {
  outline: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

div:after, ol:after, form:after, ul:after, dl:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden; }

img.size-auto, img.size-full, img.size-large, img.size-medium, .attachment img {
  max-width: 100%;
  height: auto; }

.alignleft, img.alignleft {
  display: inline;
  float: left;
  margin-right: 16px;
  margin-top: 4px; }

.alignright, img.alignright {
  display: inline;
  float: right;
  margin-left: 24px;
  margin-top: 4px; }

.aligncenter, img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

img.alignleft, img.alignright, img.aligncenter {
  margin-bottom: 10px; }

img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

html {
  box-sizing: border-box;
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-family: 'Droid Serif', serif;
  overflow: hidden; }

.no-padding {
  padding: 0; }

.no-padding-left {
  padding-left: 0; }

.no-padding-right {
  padding-right: 0; }

#date_created {
  padding: 6px 0 6px 10px;
  width: 90%;
  left: 15px;
  position: relative; }

.error {
  font-family: 'Lato';
  font-size: 14px;
  font-style: inherit;
  font-weight: 800;
  color: #c20e1a; }
.pagination {
    margin-left: auto;
    margin-right: auto;
    width: 59%;
    float: right; }

.pagination > li > a, .pagination > li > span {
    border: none;
    color: #e0e0e0;
    font-style: italic; }
.pagination > li > a:hover, .pagination > li > a:active, .pagination > li > span:hover, .pagination > li > span:active {
    background: transparent;
    border: none;
    color: #c20e1a; }
.pagination > li > a span, .pagination > li > span span {
    color: #c20e1a; }
a {
  text-decoration: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease; }
  a:hover, a:focus {
    text-decoration: none; }
  a:before {
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease; }
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid transparent; }
::-webkit-input-placeholder {
  color: #939393;
  font-size: 14px;
  font-family: 'Lato'; }

:-moz-placeholder {
  color: #939393;
  font-size: 14px;
  font-family: 'Lato'; }

::-moz-placeholder {
  color: #939393;
  font-size: 14px;
  font-family: 'Lato'; }

:-ms-input-placeholder {
  color: #939393;
  font-size: 14px;
  font-family: 'Lato'; }

header .nav-admin {
  background: #FFFFFF;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 2% 0; }
  header .nav-admin .navbar-form {
    border: none; }
  header .nav-admin .navbar-collapse {
    border: none; }
header .nav-admin .navbar-collapse .avatar, .row.author-row .avatar {
    width: 81px;
    height: 81px; }
header .nav-admin .navbar-collapse .avatar img, .row.author-row .avatar img {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block; }
header .nav-admin .navbar-collapse .data-band, .row.author-row .data-band {
    margin: 4% auto; }
header .nav-admin .navbar-collapse .data-band h3, .row.author-row .data-band h3 {
    font-size: 18px;
    font-style: italic;
    color: #263250;
    font-weight: 600; }
header .nav-admin .navbar-collapse .data-band p, .row.author-row .data-band p {
    font-family: 'Lato';
    font-size: 14px;
    color: #263250; }
header .nav-admin .navbar-collapse #edit-register {
    margin: 15px auto; }
header .nav-admin .navbar-collapse #edit-register .navbar-brand {
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 800;
    color: #263250;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 15px 33px;
    border-left: 1px solid #c20e1a;
    border-right: 1px solid #c20e1a; }
header .nav-admin .navbar-collapse #logout {
    margin: 15px auto; }
header .nav-admin .navbar-collapse #logout .navbar-brand {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 15px 30px;
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 800;
    color: #263250; }
  header .nav-admin .navbar-toggle {
    border: none;
    background: transparent;
    margin-top: 5%; }
    header .nav-admin .navbar-toggle:hover {
      background: transparent; }
    header .nav-admin .navbar-toggle .icon-bar {
      background: #c20e1a; }
  header .nav-admin .navbar-brand {
    height: auto; }
  header .nav-admin #loginBand label.restricted {
    color: #263250;
    font-size: 18px;
    font-weight: 400;
    font-style: italic; }
  header .nav-admin #loginBand label.error {
      font-family: 'Lato';
      font-size: 12px;
      font-weight: 800;
      font-style: inherit;
      color: #c20e1a;
  }
header .nav-admin #loginBand #remember a {
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 800;
    font-style: inherit;
    color: #263250;
    padding-left: 15px;
    position: absolute;
    top: 49px;
    right: 43.5%; }
  header .nav-admin #loginBand #password-error {
    font-family: 'Lato';
    font-size: 14px;
    font-style: inherit;
    font-weight: 800;
    color: #c20e1a; }
  header .nav-admin #loginBand #user-error {
    font-family: 'Lato';
    font-size: 14px;
    font-style: inherit;
    font-weight: 800;
    color: #c20e1a; }
  header .nav-admin #loginBand .form-control {
    border-color: #263250;
    border-radius: 20px;
    box-shadow: none;
    margin: 5px 0; }
  header .nav-admin #loginBand #submitFormlogin {
    background: #263250;
    color: #FFFFFF;
    border-radius: 20px;
    box-shadow: none;
    font-family: 'Lato';
    font-size: 11px;
    font-weight: 800;
    padding: 10px 16px;
    outline: none; }
    header .nav-admin #loginBand #submitFormlogin:hover {
      background: #FFFFFF;
      color: #263250;
      border-color: #263250; }
  header .nav-admin .register {
    margin-top: 8px; }
header .nav-admin .register label {
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 800;
    font-style: inherit;
    color: #263250;
    padding-left: 15px; }
    header .nav-admin .register #registerBand {
      background: #c20e1a;
      border: 1px solid #c20e1a;
      color: #FFFFFF;
      font-style: italic;
      border-radius: 25px;
      padding: 9px 50px;
      text-align: center; }
      header .nav-admin .register #registerBand:hover {
        background: #FFFFFF;
        color: #c20e1a;
        border: 1px solid #c20e1a; }
header .nav-admin .register li {
    float: none; }

header #box-nav-menu {
  background: #263250; }
  header #box-nav-menu .nav-menu {
    background: transparent;
    color: #FFFFFF;
    border: none;
    border-radius: 0;
    margin: 0; }
    header #box-nav-menu .nav-menu ul li a {
      color: #FFFFFF;
      font-style: italic;
      font-size: 18px;
      text-align: center; }
      header #box-nav-menu .nav-menu ul li a:hover {
        opacity: .6; }
    header #box-nav-menu .nav-menu .navbar-left li a {
        padding: 15px 32px; }
    header #box-nav-menu .nav-menu .navbar-toggle {
      border: none;
      background: transparent;
      margin-right: 7%; }
      header #box-nav-menu .nav-menu .navbar-toggle:hover {
        background: transparent; }
      header #box-nav-menu .nav-menu .navbar-toggle .icon-bar {
        background: #c20e1a; }
    header #box-nav-menu .nav-menu .navbar-collapse {
      border: none; }

#slider .carousel-inner .active {
  opacity: 1; }

#slider .carousel-inner .carousel-caption {
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background: #a2595c;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #a2595c), color-stop(50%, #a2595c), color-stop(50%, #545e7a));
  /* Chrome, Safari4+ */
  background: -webkit-linear-gradient(90deg, #a2595c, #545e7a);
  /*Chrome10+, Safari5.1+*/
  /* Fx3.6+ */
  /* Opera11.10+ */
  /* IE10+ */
  background: -webkit-linear-gradient(0deg, #a2595c, #545e7a);
  background: linear-gradient(90deg, #a2595c, #545e7a);
  /* W3C */
  text-shadow: none;
  opacity: .9; }
  #slider .carousel-inner .carousel-caption .text-slider {
    position: relative;
    top: 0;
    float: left;
      left: 16%; }
  #slider .carousel-inner .carousel-caption h1 {
    font-size: 40px;
    font-style: italic;
    text-align: center;
    color: #FFFFFF;
    box-shadow: none;
    margin-top: 5%; }
  #slider .carousel-inner .carousel-caption p {
    font-family: 'Lato';
    font-size: 16px;
    font-style: italic;
    text-align: center;
    color: #FFFFFF;
    box-shadow: none; }
  #slider .carousel-inner .carousel-caption .box-buttom {
    padding: 3% 0; }
    #slider .carousel-inner .carousel-caption .box-buttom #more-highlights {
      background: #263250;
      border: 1px solid #263250;
      color: #FFFFFF;
      font-style: italic;
      border-radius: 25px;
      padding: 9px 50px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 25%;
      box-shadow: none; }
      #slider .carousel-inner .carousel-caption .box-buttom #more-highlights:hover {
        background: #FFFFFF;
        border: 1px solid #263250;
        color: #263250; }

#more-bands #title #atstbx {
    float: right; }
#more-bands #title #atstbx .at-share-btn {
    max-width: 32px;
    max-height: 32px;
    border-radius: 32px; }
#more-bands #title #atstbx .at-share-btn:hover {
    opacity: .8; }
#more-bands #title h2 {
  font-size: 36px;
  font-style: italic;
  text-align: center;
  color: #263250;
  margin: 10px auto; }

#more-bands #title p {
  font-family: 'Lato';
  font-size: 16px;
  text-align: center;
  color: #263250;
  margin-bottom: 40px; }

#more-bands #title #illustration-one {
  padding: 35px 0; }
  #more-bands #title #illustration-one img {
    margin-left: auto;
    margin-right: auto;
    display: block; }
#more-bands #datePress {
    text-align: center; }
#more-bands #datePress p {
    margin: 10px auto;
    font-size: 19px;
    font-style: italic;
    text-align: center;
    color: #c20e1a; }
#more-bands #datePress #span-center {
    position: relative;
    bottom: 3px;
    width: 20%;
    display: table-cell;
    margin: 10px auto;
    font-size: 19px;
    font-style: italic;
    text-align: center;
    color: #c20e1a; }
#more-bands #datePress #span-value {
    display: table-cell;
    width: 40%; }
#more-bands #datePress #span-value hr {
    background: #e0e0e0;
    width: 100%;
    height: 1px; }
#more-bands #datePress #span-label {
    display: table-cell;
    width: 40%; }
#more-bands #datePress #span-label hr {
    background: #e0e0e0;
    width: 100%;
    height: 1px; }
#more-bands #content .listBands img {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block; }

#more-bands #content .listBands h4 {
  color: #263250;
  font-size: 16px;
  font-family: 'Lato';
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  margin: 20px auto 5px;
    min-height: 80px;}

#more-bands #content .listBands p {
  color: #263250;
  font-size: 16px;
  font-family: 'Lato';
  font-weight: 400;
  text-align: center;
    text-transform:uppercase;
  margin: 5px auto 20px; }
#more-bands #content .listPress {
    margin-bottom: 2%; }
#more-bands #content .listPress img {
    margin-left: auto;
    margin-right: auto;
    display: block; }
#more-bands #content .listPress h4 {
    color: #c20e1a;
    font-size: 16px;
    font-style: italic;
    text-align: left;
    margin: 20px auto 5px; }
#more-bands #content .listPress p {
    color: #263250;
    font-size: 15px;
    font-family: 'Lato';
    font-weight: 400;
    text-align: left;
    margin: 5px auto; }
#more-bands #content .listPress .pagination > li > a, #more-bands #content .listPress .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: none !important; }
#more-bands #content .box-buttom {
  margin: 4% auto; }
  #more-bands #content .box-buttom #learn-more-bands {
    background: #c20e1a;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-style: italic;
    border-radius: 25px;
    padding: 9px 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 25%; }
    #more-bands #content .box-buttom #learn-more-bands:hover {
      background: #FFFFFF;
      border: 1px solid #c20e1a;
      color: #c20e1a; }
#more-bands #return {
    color: #c20e1a;
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Lato';
    font-size: 14px;
    float: right;
    margin-top: 30px;
    margin-bottom: 20px;
    background: url(../img/seta-red.png) no-repeat 5% 50%;
    padding: 0 0 0 25px; }

#more-bands #social-media li a {
    padding: 0 5px;
    background: transparent; }
#more-bands #social-media li a:hover {
    opacity: .7;
    background: transparent; }
#calendar {
  background: #303f5e;
    padding: 2.7% 0;
  margin-bottom: 35px; }
  #calendar #title h2 {
    font-size: 36px;
    font-style: italic;
    text-align: center;
    color: #FFFFFF;
    margin: 30px auto 10px; }
  #calendar #title p {
    font-family: 'Lato';
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 50px; }
  #calendar #content .table {
    border-spacing: 2px !important;
    border-collapse: inherit !important; }
  #calendar #content .table > tbody > tr {
    border-top: 1px solid #263250;
    border-bottom: 1px solid #263250;
    vertical-align: middle; }
  #calendar #content .table > tbody > tr > th {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    vertical-align: middle; }
  #calendar #content .table > tbody > tr > td {
    color: #FFFFFF;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    vertical-align: middle; }
    #calendar #content .table > tbody > tr > td a {
      background: #263250;
      border: 1px solid #263250;
      color: #FFFFFF;
      font-family: 'Droid Serif';
      font-style: italic;
      font-size: 14px;
      border-radius: 25px;
      padding: 5px 15px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      display: block; }
      #calendar #content .table > tbody > tr > td a:hover {
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        color: #263250; }
    #calendar #content .table > tbody > tr > td img {
      margin: 0 10px; }
  #calendar #content .table > tbody > tr > th {
    color: #FFFFFF;
    font-size: 19px;
    font-style: italic;
    text-align: center; }
  #calendar #content .box-buttom {
    margin: 4% auto; }
    #calendar #content .box-buttom #more-events {
      background: #c20e1a;
      border: 1px solid #c20e1a;
      color: #FFFFFF;
      font-style: italic;
      border-radius: 25px;
      padding: 9px 50px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 25%; }
      #calendar #content .box-buttom #more-events:hover {
        background: #FFFFFF;
        border: 1px solid #c20e1a;
        color: #c20e1a; }

#calendar-intern {
  background: #FFFFFF;
  margin-bottom: 35px; }
  #calendar-intern #title h2 {
    font-size: 36px;
    font-style: italic;
    text-align: center;
    color: #FFFFFF;
    margin: 30px auto 10px; }
  #calendar-intern #title p {
    font-family: 'Lato';
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 50px; }
#calendar-intern #content .table > tbody > tr > td, #calendar-intern #content .table > tbody > tr > th, #calendar-intern #content .table > tfoot > tr > td, #calendar-intern #content .table > tfoot > tr > th, #calendar-intern #content .table > thead > tr > td, #calendar-intern #content .table > thead > tr > th {
    border-top: 1px solid transparent; }
#calendar-intern #content .table-bordered > tbody > tr > td, #calendar-intern #content .table-bordered > tbody > tr > th, #calendar-intern #content .table-bordered > tfoot > tr > td, #calendar-intern #content .table-bordered > tfoot > tr > th, #calendar-intern #content .table-bordered > thead > tr > td, #calendar-intern #content .table-bordered > thead > tr > th {
    border-top: 1px solid transparent; }
#calendar-intern #content .table-bordered > tbody > tr > td, #calendar-intern #content .table-bordered > tbody > tr > th, #calendar-intern #content .table-bordered > tfoot > tr > td, #calendar-intern #content .table-bordered > tfoot > tr > th, #calendar-intern #content .table-bordered > thead > tr > td, #calendar-intern #content .table-bordered > thead > tr > th {
    border-top: 1px solid transparent; }
#calendar-intern #content .table-bordered {
    border: none; }
  #calendar-intern #content .table {
      border-spacing: 17px !important;
    border-collapse: inherit !important; }
  #calendar-intern #content .table > tbody > tr {
      vertical-align: middle;
      border-top: 1px solid #263250 !important;
      border-bottom: 1px solid #263250 !important;
      border: none; }
  #calendar-intern #content .table > tbody > tr > th {
      border: none;
      vertical-align: middle; }
  #calendar-intern #content .table > tbody > tr > td {
    color: #263250;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent !important;
    vertical-align: middle; }
    #calendar-intern #content .table > tbody > tr > td a {
      background: #263250;
      border: 1px solid #263250;
      color: #FFFFFF;
      font-family: 'Droid Serif';
      font-style: italic;
      font-size: 14px;
      border-radius: 25px;
      padding: 5px 15px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      display: block; }
      #calendar-intern #content .table > tbody > tr > td a:hover {
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        color: #263250; }
    #calendar-intern #content .table > tbody > tr > td img {
      margin: 0 10px; }
  #calendar-intern #content .table > tbody > tr > th {
    color: #263250;
    font-size: 19px;
    font-style: italic;
    text-align: center; }
  #calendar-intern #content .box-buttom {
    margin: 4% auto; }
    #calendar-intern #content .box-buttom #more-events {
      background: #c20e1a;
      border: 1px solid #c20e1a;
      color: #FFFFFF;
      font-style: italic;
      border-radius: 25px;
      padding: 9px 50px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 25%; }
      #calendar-intern #content .box-buttom #more-events:hover {
        background: #FFFFFF;
        border: 1px solid #c20e1a;
        color: #c20e1a; }

#magnificence {
    background: url(../img/magnificence.png) 5% 50%;
    margin-bottom: 35px;
    padding: 3% 0 1%; }
  #magnificence #title h2 {
    font-size: 36px;
    font-style: italic;
    text-align: center;
    color: #FFFFFF; }
  #magnificence #title p {
    font-family: 'Lato';
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 50px; }
  #magnificence #illustration-two {
    padding: 20px 0; }
    #magnificence #illustration-two img {
      margin-left: auto;
      margin-right: auto;
      display: block; }
  #magnificence .box-buttom {
    margin: 2% auto; }
    #magnificence .box-buttom #participate-in-the-tenders {
      background: #263250;
      border: 1px solid #263250;
      color: #FFFFFF;
      font-style: italic;
      border-radius: 25px;
      padding: 9px 50px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 25%; }
      #magnificence .box-buttom #participate-in-the-tenders:hover {
        background: #FFFFFF;
        border: 1px solid #263250;
        color: #263250; }

#contact header {
    background: url(../img/historia.png) no-repeat;
  height: 140px; }
  #contact header #title #illustration h2 {
    color: #FFFFFF;
    font-size: 45px;
    font-style: italic;
    font-weight: 400;
    padding: 3% 0;
    text-align: center; }
#contact header #title #span-center {
    position: relative;
    bottom: 3px;
    width: 20%;
    display: table-cell;
    margin: 10px auto;
    padding: 3% 0;
    font-size: 45px;
    font-style: italic;
    text-align: center;
    color: #FFFFFF; }
#contact header #title #span-value {
    display: table-cell;
    width: 40%;
    background: url(../img/ribbon-right.png) no-repeat 0% 50%; }
#contact header #title #span-value hr {
    background: #e0e0e0;
    width: 100%;
    height: 1px; }
#contact header #title #span-label {
    display: table-cell;
    width: 40%;
    background: url(../img/ribbon-left.png) no-repeat 99% 50%; }
#contact header #title #span-label hr {
    background: #e0e0e0;
    width: 100%;
    height: 1px; }
#contact hr {
  background: #c20e1a;
  height: 2px;
  width: 3%;
  margin: 0 auto; }

#contact #content-form {
  padding: 57px 0; }
  #contact #content-form h2 {
    color: #c20e1a;
    font-family: 'Lato';
    font-size: 22px;
    font-weight: 800;
    padding-bottom: 25px; }
  #contact #content-form label {
    color: #263250;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    padding: 5px 0 60px 0;
    margin-left: auto;
    margin-right: auto;
    display: block; }
#contact #content-form #return {
    color: #c20e1a;
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Lato';
    font-size: 14px;
    float: right;
    margin-bottom: 20px;
    background: url(../img/seta-red.png) no-repeat 5% 50%;
    padding: 0 0 0 25px; }
#contact #content-form #social-media li a {
    padding: 0 5px;
    background: transparent; }
#contact #content-form #social-media li a:hover {
    opacity: .7;
    background: transparent; }
  #contact #content-form .box-imgs {
    margin: 8% 0; }
  #contact #content-form #text-contact p {
    color: #263250;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 25px; }
  #contact #content-form #text-contact img {
    margin: 60px auto 0;
    margin-left: auto;
    margin-right: auto;
    display: block; }
#contact #content-form #text-contact #redirect {
    color: #263250;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    font-size: 18px;
    font-style: italic; }
#contact #content-form #text-contact #redirect:hover {
    text-decoration: underline; }
#contact #content-form #text-contact #img-intern {
    margin: 0; }
#contact #content-form #text-contact #download {
    background: #263250;
    color: #FFFFFF;
    border: 1px solid #263250;
    border-radius: 20px;
    box-shadow: none;
    font-family: 'Lato';
    font-size: 11px;
    font-weight: 800;
    padding: 10px 16px;
    outline: none;
    float: none;
    width: 35%;
    margin: 5% auto; }
#contact #content-form #text-contact #download:hover {
    background: #FFFFFF;
    color: #263250;
    border: 1px solid #263250; }
#contact #content-form #text-contact #box-content {
    min-height: 21.1em; }
#contact #content-form #social-intern {
    margin-top: 3%; }
#contact #content-form #social-intern #atstbx {
    float: right; }
#contact #content-form #social-intern #atstbx .at-share-btn {
    max-width: 32px;
    max-height: 32px;
    border-radius: 32px; }
#contact #content-form #social-intern #atstbx .at-share-btn:hover {
    opacity: .8; }
  #contact #content-form #formContact .form-control {
    border-color: #263250;
    border-radius: 20px;
    box-shadow: none;
    margin: 2px 0; }
  #contact #content-form #formContact .form-group label {
    color: #263250;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    padding: 0 0 5px 15px; }
#contact #content-form #formContact .form-group .error {
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 800;
    font-style: inherit;
    color: #c20e1a; }
  #contact #content-form #formContact .form-group .radio label {
    color: #263250;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 800;
    padding: 0 0 5px 15px;
    font-style: inherit; }
  #contact #content-form #formContact .form-group .radio .highlight {
    color: #c20e1a;
    text-decoration: underline; }
  #contact #content-form #formContact .form-group textarea {
    width: 100%;
    border: 1px solid #263250;
    border-radius: 10px;
    box-shadow: none;
    padding: 15px 13px; }
  #contact #content-form #formContact #submitFormContact {
    background: #263250;
    color: #FFFFFF;
    border: 1px solid #263250;
    border-radius: 20px;
    box-shadow: none;
    font-family: 'Lato';
    font-size: 11px;
    font-weight: 800;
    padding: 9px 16px;
    outline: none;
    float: right; }
  #contact #content-form #formContact #submitFormContactRegister {
    background: #c20e1a;
    color: #FFFFFF;
    border-radius: 20px;
    box-shadow: none;
    font-family: 'Lato';
    font-size: 11px;
    font-weight: 800;
    padding: 9px 16px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none; }
    #contact #content-form #formContact #submitFormContactRegister:hover {
      background: #FFFFFF;
      color: #c20e1a;
      border: 1px solid #c20e1a; }
  #contact #content-form #formContactRegister #realupload {
    height: 175px;
    width: 175px;
    position: absolute;
    top: 0%;
    left: 0;
    opacity: 0; }
  #contact #content-form #formContactRegister .form-control {
    border-color: #263250;
    border-radius: 20px;
    box-shadow: none;
    margin: 5px 0; }
  #contact #content-form #formContactRegister .form-group label {
    color: #263250;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    padding: 0 0 5px 15px; }
#contact #content-form #formContact .form-group .error, #contact #content-form #formContactRegister .form-group .error {
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 800;
    font-style: inherit;
    color: #c20e1a; }
  #contact #content-form #formContactRegister .form-group .radio label {
    color: #263250;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 800;
    padding: 0 0 5px 15px;
    font-style: inherit; }
    #contact #content-form #formContactRegister .form-group .radio label.error {
        font-family: 'Lato';
        font-size: 12px;
        font-weight: 800;
        font-style: inherit;
        color: #c20e1a;
    }
    #contact #content-form #formContactRegister .form-group .radio.usage-terms label.error {
        position:absolute;
    }
    #contact #content-form #formContactRegister .form-group .radio label input[type="checkbox"] {
      margin: 0 5px 0 0; }
    #contact #content-form #formContactRegister .form-group .radio label .error {
      font-family: 'Lato';
      font-size: 12px;
      font-weight: 800;
      font-style: inherit;
      color: #c20e1a; }
  #contact #content-form #formContactRegister .form-group .radio input[type="number"] {
    border: 1px solid #263250;
    border-radius: 50px;
    text-align: center;
    width: 100%;
    float: left;
    margin-right: 10px; }
  #contact #content-form #formContactRegister .form-group .radio .highlight {
    color: #c20e1a;
    text-decoration: underline; }
  #contact #content-form #formContactRegister .form-group .radio #uniforms, #contact #content-form #formContactRegister .form-group .radio #terms-of-use, #contact #content-form #formContactRegister .form-group .radio #instrument_objectives, #contact #content-form #formContactRegister .form-group .radio #instrument_reason, #contact #content-form #formContactRegister .form-group .radio #toolsThree, #contact #content-form #formContactRegister .form-group .radio #instrument_observation, #contact #content-form #formContactRegister .form-group .radio #instrument_work_plan, #contact #content-form #formContactRegister .form-group .radio #objectives, #contact #content-form #formContactRegister .form-group .radio #memorial, #contact #content-form #formContactRegister .form-group .radio #curriculum, #contact #content-form #formContactRegister .form-group .radio #repertory, #contact #content-form #formContactRegister .form-group .radio #infos {
    display: none; }
  #contact #content-form #formContactRegister .form-group textarea {
    width: 100%;
    border: 1px solid #263250;
    border-radius: 10px;
    box-shadow: none;
    padding: 15px 13px;
    margin-bottom: 2%; }
  #contact #content-form #formContactRegister #submitFormContactRegister {
    background: #c20e1a;
    color: #FFFFFF;
    border: 1px solid #c20e1a;
    border-radius: 20px;
    box-shadow: none;
    font-family: 'Lato';
    font-size: 11px;
    font-weight: 800;
    padding: 10px 16px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none; }
    #contact #content-form #formContactRegister #submitFormContactRegister:hover {
      background: #FFFFFF;
      color: #c20e1a;
      border: 1px solid #c20e1a; }

#contact #camera {
  height: 175px;
  width: 175px;
  background: #e0e0e0;
  border-radius: 50%;
  margin: 50px auto;
  background-size: cover;
  background-position: 50%;
  left: 42%; }
  #contact #camera img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    vertical-align: middle;
    position: relative;
    top: 30%; }
  #contact #camera h4 {
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    top: 35%; }
#contact #scores {
    height: 175px;
    width: 175px;
    background: #e0e0e0;
    border-radius: 50%;
    margin: 25px;
    left: 0; }
#contact #scores h4 {
    color: #263250;
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    position: relative;
    top: 25%; }
#contact #scores p {
    color: #263250;
    font-size: 15px;
    font-family: 'Lato';
    font-weight: 600;
    text-align: center;
    margin: 5px auto;
    position: relative;
    top: 60%; }
#contact #scores #download {
    background: #263250;
    color: #FFFFFF;
    border: 1px solid #263250;
    border-radius: 20px;
    box-shadow: none;
    font-family: 'Lato';
    font-size: 11px;
    font-weight: 800;
    padding: 10px 16px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
    position: relative;
    top: 70%;
    margin: 5% auto; }
#contact #scores #download:hover {
    background: #FFFFFF;
    color: #263250;
    border: 1px solid #263250; }
.maps #map_canvas {
  width: 100%;
  height: 450px; }

footer {
  background: #e0e0e0;
  padding: 3% 0;
  bottom: 0; }
footer #director p {
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 800;
    color: #263250; }
  footer #phone {
      display: none;
    padding: 10px 0 0 0; }
    footer #phone p {
      font-size: 18px;
      font-style: italic;
      font-weight: 800;
      color: #263250; }
footer #social-media {
    display: none; }
footer #social-media ul li a {
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 800;
    color: #263250; }
footer #social-media ul li a img {
    margin: 0 5px; }
  footer #governmental img {
    margin: auto 6%; }
footer #governmental .sponsorship {
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 800;
    color: #263250;
    padding: 0 0 10px 0; }

@media (min-width: 992px) and (max-width: 1199px) {
    #slider .carousel-inner .carousel-caption .box-buttom #more-highlights {
        padding: 4px 50px; }
    #slider .carousel-inner .carousel-caption .text-slider {
        left: 0; } }

@media (min-width: 768px) and (max-width: 991px) {
  header .nav-admin .register {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 68%; }
  header #box-nav-menu .nav-menu .navbar-left li a {
    padding: 15px 12px; }
  header #box-nav-menu .nav-menu .navbar-right {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60%; }
  #slider .carousel-inner .item {
    padding: 5%; }
  #slider .carousel-inner .carousel-caption h1 {
    margin: 0;
    font-size: 35px; }
  #slider .carousel-inner .carousel-caption .text-slider {
    float: none;
    left: 0; }
  #slider .carousel-inner .carousel-caption .box-buttom #more-highlights {
    padding: 5px 0px;
    width: 25%; }
  #more-bands #content .box-buttom #learn-more-bands {
    width: 100%; }
  #calendar #content .box-buttom #more-events {
    width: 100%; }
  #calendar #content .table > tbody > tr > td a {
    width: 100%; }
  #magnificence .box-buttom #participate-in-the-tenders {
    width: 100%; }
  footer #logo-bandas img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 2%; }
  footer #phone p {
    text-align: center;
    margin: 2% 0; }
  footer #social-media {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 25%;
    margin-bottom: 2%; }
  footer #governmental img {
      margin-left: auto !important;
      margin-right: auto !important;
      display: block;
      margin-bottom: 1% !important; }
    footer #governmental .sponsorship {
        padding: 25px 0 10px 0; }
    footer #governmental #patrocinio {
        text-align: center;
        padding-left: 9%; } }

@media (min-width: 480px) and (max-width: 767px) {
  header #box-nav-menu .nav-menu .navbar-toggle {
    margin-right: 5.5%; }
    header .nav-admin .register #registerBand {
        width: 95%; }
    header .nav-admin #loginBand #remenber a {
        top: 10em; }
  #slider .carousel-inner .item {
    padding: 5%; }
  #slider .carousel-inner .carousel-caption h1 {
    margin: 0;
    font-size: 25px; }
  #slider .carousel-inner .carousel-caption .text-slider {
    float: none;
    left: 0; }
  #slider .carousel-inner .carousel-caption .box-buttom #more-highlights {
    padding: 5px 0px;
    width: 25%;
    margin: -7px auto; }
  #more-bands #content .box-buttom #learn-more-bands {
    width: 100%; }
  #calendar #content .box-buttom #more-events {
    width: 100%; }
  #calendar #content .table > tbody > tr > td a {
    width: 100%; }
  #magnificence .box-buttom #participate-in-the-tenders {
    width: 100%; }
  footer #logo-bandas img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 2%; }
  footer #phone p {
    text-align: center;
    margin: 2% 0; }
  footer #social-media {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 24%;
    margin-bottom: 2%; }
  footer #governmental {
    padding-top: 4%; }
    footer #governmental img {
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-bottom: 5%; } }

@media (min-width: 321px) and (max-width: 479px) {
  header .nav-admin .register {
    padding: 0 115px; }
  header #box-nav-menu .nav-menu .navbar-toggle {
    margin-right: 11%; }
  #slider {
    display: none; }
  #more-bands #content .box-buttom #learn-more-bands {
    width: 100%; }
  #calendar #content .box-buttom #more-events {
    width: 100%; }
  #calendar #content .table > tbody > tr > td a {
    width: 100%; }
  #magnificence .box-buttom #participate-in-the-tenders {
    width: 100%; }
  footer #logo-bandas img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 2%; }
  footer #phone p {
    text-align: center;
    margin: 2% 0; }
  footer #social-media {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 63%;
    margin-bottom: 2%; }
  footer #governmental {
    padding-top: 4%; }
    footer #governmental img {
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-bottom: 5%; } }

@media (max-width: 320px) {
  header .nav-admin .register {
    padding: 0 15px; }
  #slider {
    display: none; }
  #more-bands #content .box-buttom #learn-more-bands {
    width: 100%; }
  #calendar #content .box-buttom #more-events {
    width: 100%; }
  #calendar #content .table > tbody > tr > td a {
    width: 100%; }
  #magnificence .box-buttom #participate-in-the-tenders {
    width: 100%; }
  footer #logo-bandas img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 2%; }
  footer #phone p {
    text-align: center;
    margin: 2% 0; }
  footer #social-media {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 63%;
    margin-bottom: 2%; }
  footer #governmental {
    padding-top: 4%; }
    footer #governmental img {
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-bottom: 5%; } }
#system-messages .alert {
    margin-top: 10px;
}